:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; /* Примусово світла тема */
  color: #1a202c; /* Темно-сірий текст для кращого читання */
  background-color: #f7fafc; /* Дуже світлий сіро-блакитний фон (як в УЗ) або просто #ffffff */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, p {
  margin: 0;
}